/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.login-panel {
    width: 40%;
    padding: 40px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.header .logo {
    width: 40px;
    height: 40px;
}

h1 {
    font-size: 28px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 20px;
    color: #666;
    margin: 0 0 20px;
    text-align: center;
}

label {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me input {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease; /* Transición suave para el hover */
}

button:hover {
    background-color: #e64a19;
}

.forgot-password {
    display: block;
    text-align: center;
    color: #ff5722;
    margin: 20px 0;
    font-size: 14px;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.button-container {
    display: flex;
    gap: 10px;
}

/* Panel de la imagen */
.image-panel {
    width: 60%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Estilos del carrusel */
.carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-slide {
    display: none;
    text-align: center;
    width: 100%;
}

.carousel-slide:first-child {
    display: block; /* Muestra el primer slide por defecto */
}

.carousel-slide img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.carousel-title {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}

.carousel-description {
    font-size: 16px;
    color: #555;
    text-align: center;
    line-height: 1.5;
    margin: 2rem; /* Unificación de márgenes */
}

.special-slide {
    background-color: #cbcfd0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
}

.special-slide .image-container img {
    width: 80%;
    margin: 1rem;
}

/* Estilos de las flechas */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #333;
    cursor: pointer;
    padding: 10px;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

/* Indicadores del carrusel */
.carousel-indicators {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.indicator {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: #333;
}
